* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #E0E0E0;
}

header {
    background-color: blueviolet;
    padding: 16px 120px;
    text-align: center;
}
header input {
    width: 100%;
    height: 60%;
    padding: 0 10px;
    border-radius: 8px;
    font-size: 18px;
}
#tarefas {
    padding: 60px 120px;
}
#tarefas h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 48px;
}
#tarefas h2 button {
    padding: 8px 16px;
    font-size: 18px;
    border-radius: 8px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 200ms;
}
#tarefas h2 button:hover {
    background-color: indigo;
}
#tarefas h6 {
    text-align: center;
    font-size: 24px;
    color: gray;
}
#tarefas ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 36px;
}
#tarefas ul li {
    width: calc(25%-12px);
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    margin: 12px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms;
}
#overlay.active{
    visibility: visible;
    opacity: 1;
}


.modal {
    width: 400px;
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms;
}
.modal.active {
    visibility: visible;
    opacity: 1;
}

.modal form h3 {
    font-size: 24px;
    margin-bottom: 26px;
    color : rgb(150, 149, 149);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal form h3 box-icon {
    fill: rgb(150, 149, 149);
    cursor: pointer;
    transition-duration: 200ms;
}
.modal form h3 box-icon:hover {
    fill: blueviolet;
}
.modal form label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    letter-spacing: .75px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.modal form input,
.modal form textarea {
    width: 100%;
    padding: 8px 12px;
    margin-bottom: 16px;
    border-radius: 6px;
    border: 1px solid gray;
    font-size: 16px;
    padding-left: 10px;
    transition-duration: 200ms;
}
.modal form input:focus,
.modal form textarea:focus {
    border: 2px solid blueviolet;
}
.modal form textarea {
    padding-top: 10px;
    height: 120px;
}
.modal form button {
    height: 46px;
    letter-spacing: 0.75px;
    padding: 8px 26px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 8px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    transition-duration: 200ms;
    display: block;
    margin: 0 auto;
    width: 100%;
}
.modal form button:hover {
    background-color: indigo;
}